header.masthead1 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead1 h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead1 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead1 p {
      font-size: 1.15rem;
    }
    header.masthead1 h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead1 h1 {
      font-size: 3.5rem;
    }
  }
  header.masthead2 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead2 h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead2 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead2 p {
      font-size: 1.15rem;
    }
    header.masthead2 h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead2 h1 {
      font-size: 3.5rem;
    }
  }
  header.masthead3 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead3 h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead3 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead3 p {
      font-size: 1.15rem;
    }
    header.masthead3 h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead3 h1 {
      font-size: 3.5rem;
    }
  }
  header.masthead4 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead4 h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead4 {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead4 p {
      font-size: 1.15rem;
    }
    header.masthead4 h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead4 h1 {
      font-size: 3.5rem;
    }
  }
     #solutions {
      width:80%;
      margin-left: 10%;
      margin-right: 10%;
  }
  #disorders { width:90%;
    margin-left: 10%;
    margin-right: 10%;
    overflow:hidden;
}
  #disorders p, #solutions p , #disorders h1, #solutions h1 ,#disorders h3, #solutions h3,#disorders img, #solutions img{margin-top: 3%;
margin-bottom: 3%;
display: block;
  }
#disorders img, #solutions img{ margin-left: 2%;
    margin-right: 2%;
 display: block;
width:60%;}
     #disorders p,#disorders ul{width:80%;
        }
#disorders h1,#solutions h1{font-size: x-large;
color:coral;
text-align: left;
font-weight: bolder;}        
#disorders h3,#solutions h3{font-size: large;
    color:coral;
font-weight: bold;} 
.chat_icon{position:fixed;
right:30px;
bottom:0;
font-size:100px;
color:rgb(3, 247, 234);
cursor:pointer;
z-index:1000;
}
.chat_box{
  position:fixed;
  right:20px;
  bottom:60px;
  width:400px;
  height:80vh;
  background: #dedede;
  z-index: 1000;
  transition:all 0.3s ease-out;
  transform:scaleY(0);
}
.chat_box.active{
  transform:scaleY(1);
}

@media(max-width:480px){
  .chat_box{
    position:fixed;
    right:20px;
    bottom:160px;
    width:90%;
    height:65vh;
    background: #dedede;
    z-index: 1000;
    transition:all 0.3s ease-out;
    transform:scaleY(0);
  }
  .chat_box.active{
    transform:scaleY(1);
  }
  
}
.hidden{
  display:none;
}
.conv-form-wrapper textarea{
  height:30px;
  overflow:hidden;
  resize:none;
} 
#messages{
  padding:20px;
}